<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pigeonhole me</title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <span id="cursor" class="cursor"></span>
    <span id="circle" class="circle"></span>
    <header>
        <h1 id="title1">Pixal</h1>
        <div class="line"></div>
        <h1 id="title2">spark</h1>
        <h4>Check out how our <i>posh</i> A.I. classifies Your image.</h4>
        <button type="button" class="rise hoverable">Pigeonhole me!</button>
    </header>
</body>
    <script src="../static/scripts/main.js"></script>
</html>